{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">Тестовое задание для Fortech</h1>
                    <p>
                        Выполнение тестового задания для Fortech
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
