{% extends 'mainapp/base.html' %}

{% block content %}
    <main>
        <div class="container-fluid">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="card-body">
                        <div class="table-responsive">
                            {% if pk != max_page %}
                                <h2 class="mt-4">{{ question }} {{ question.pk }}</h2>
                                <form action="#" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% for answer in answers %}
                                        <div class="form-row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input type="checkbox" name="" id="">
                                                    <label for="">{{ answer }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </form>
                                <div class="col-lg-12" style="margin-top: 33px;">
                                    <input href="{% url 'question' test_id pk %}"
                                           class="btn btn-info btn-block badge-success"
                                           type="submit" value="Ответить">
                                    <a href="{% url 'question' test_id pk %}" class="btn btn-info btn-block">
                                        Дальше
                                    </a>
                                </div>
                            {% else %}
                                <h2 class="mt-4">{{ question }} {{ question.pk }}</h2>
                                {% for answer in answers %}
                                    <div class="form-row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="checkbox" name="" id="">
                                                <label for="">{{ answer }}</label>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-lg-12" style="margin-top: 33px;">
                                    <input href="{% url 'question' test_id pk %}"
                                           class="btn btn-info btn-block badge-success"
                                           type="submit" value="Ответить">
                                    <a href="#" class="btn btn-info btn-block btn-danger">Завершить</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
