{% extends 'mainapp/base.html' %}

{% block content %}
    <main>
        <div class="container-fluid">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="card-body">
                        <div class="table-responsive">
                        {% if pk != max_page  %}
                            <h2 class="mt-4">{{ question }} {{ question.pk }}</h2>
                            {% for answer in answers %}
                                <p class="mt-4">{{ answer }}</p>
                            {% endfor %}
                            <div class="col-lg-12" style="margin-top: 33px;">
                                <a href="{% url 'question' test_id pk %}" class="btn btn-info btn-block">Ответить</a>
                            </div>
                        {% else %}
                            <h2 class="mt-4">{{ question }} {{ question.pk }}</h2>
                            {% for answer in answers %}
                                <p class="mt-4">{{ answer }}</p>
                            {% endfor %}
                            <div class="col-lg-12" style="margin-top: 33px;">
                                <a href="#" class="btn btn-info btn-block">Завершить</a>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
